.photos-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 220px));
  gap: 16px;
  justify-content: center;
  background-color: #86a1db;
padding:2em;

  width:fit-content;


  /* Mobile styling */
  @media (max-width: 600px) {
display:flex;
flex-direction: column;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width:100%;


    .photo-image {
      max-width: 96%;
      margin:0 auto;
     
    }
  }
}

#gallery-container {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  img {
    &:hover {
      transform: scale(1.01);
      transition: ease-in-out;
    }
  }
}

.gallery-header {
  text-align: center;
  grid-column: 1/span 3;
}
.chevron-left:hover,
.chevron-right:hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.7) !important;
}

@media (max-width: 767px) {
  .chevron-left:hover,
  .chevron-right:hover {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent !important;
  }
  .gallery-header {
    grid-column: 1/span 2;
  }
}